name: Build APK Release

on:
  push:
    tags:
      - "b[0-9]+.[0-9]+.[0-9]+*"
  workflow_dispatch:

jobs:
    build:
        name: Build Split APKs
        runs-on: ubuntu-latest
        permissions:
            contents: write

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Set up Java
              uses: actions/setup-java@v3
              with:
                  distribution: "zulu"
                  java-version: "17"

            - name: Set up Flutter
              uses: subosito/flutter-action@v2
              with:
                  flutter-version: "3.41.1"
                  channel: "stable"

            - name: Get dependencies
              run: flutter pub get
              working-directory: example

            - name: Build APKs split per ABI
              run: flutter build apk --release
              working-directory: example

            - name: Get tag name
              id: tag
              run: echo "TAG_NAME=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

            - name: Create GitHub Release (Optional)
              uses: softprops/action-gh-release@v1
              with:
                  files: example/build/app/outputs/apk/release/*.apk
                  generate_release_notes: true
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
